{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"printWidth": 80,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteStrictMode": true,
	"svelteBracketNewLine": false
}
